/* src/assets/css/AddService.css */
/* .Addback{
    background-color: rgba(253, 248, 251, 0.636);
    background-size: cover;
    height: 100vh;
    position: fixed;
    width: 100%;
 
    left: 0;
    top: 0;
} */
.add-service {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #180101;
    border-radius: 8px;
    margin-top: 4%;
    background-color: #0c99a148; /* Add your desired background color */
}

.add-service h1 {
    text-align: center;
    color: #333333f4;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    color: #1d1a1a;
}

input,
textarea {
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #252323;
    border-radius: 2px;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #b3001267;
}

/* Style for "Back to Dashboard" link */
Link {
    margin-top: 20px;
    text-align: center;
}

Link button {
    background-color: #ccc;
    color: #333;
    margin-top: 10px;
}

Link button:hover {
    background-color: #bbb;
}

