.contact-page {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 10%;
    margin-left: 40%;
  }
  
  .contact-info {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
  }
  
  .edit-buttons {
    text-align: center;
  }
  
  button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  